<!doctype html>
<html class="no-js" lang="tr-TR">
<head>
<%-include('./inc/head')%>
</head>

<body>
<!-- POPUP -->
<%-include('./inc/popup')%>
<!-- POPUP -->
<!-- PAGELOADER -->
<%-include('./inc/page-loader')%>
<!-- PAGELOADER -->

<!-- PAGE CONTENT -->
<div id="page-content">

<!-- NAV -->
<%-include('./inc/nav')%>

<!-- HERO  -->
	<section id="hero" class="hero-auto">

        <div class="revolution-slider-wrapper">
            <div id="revolutionslider1" class="revolution-slider"  data-version="5.0">
                <ul>
                    <li class="text-light" data-transition="fade" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="/slider2021/Slide1.jpeg?v=2"  alt=""  width="1920" height="1080">
                    </li> <!-- END slide -->
                    <li class="text-light" data-transition="fade" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="/slider2021/Slide2.jpeg?v=2"  alt=""  width="1920" height="1080">
                    </li> <!-- END slide -->
                    <li class="text-light" data-transition="fade" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="/slider2021/Slide3.jpeg?v=2"  alt=""  width="1920" height="1080">
                    </li> <!-- END slide -->
                    <li class="text-light" data-transition="fade" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="/slider2021/Slide4.jpeg?v=2"  alt=""  width="1920" height="1080">
                    </li> <!-- END slide -->
                    <li class="text-light" data-transition="fade" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="/slider2021/Slide5.jpeg?v=2"  alt=""  width="1920" height="1080">
                    </li> <!-- END slide -->
                    <li class="text-light" data-transition="fade" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="/slider2021/Slide6.jpeg?v=2"  alt=""  width="1920" height="1080">
                    </li> <!-- END slide -->
                    <li class="text-light" data-transition="fade" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="/slider2021/Slide7.jpeg?v=2"  alt=""  width="1920" height="1080">
                    </li> <!-- END slide -->
              	</ul>
             </div><!-- END .revolution-slider -->
       	</div> <!-- END .revolution-slider-wrapper -->

        <a href="#" id="scroll-down" class="text-light"></a>

    </section>
    <!-- HERO -->

	<!-- PAGEBODY -->
	<section id="page-body">


        <div class="column-section boxed-sticky adapt-height vertical-center clearfix">

          <div class="column one-fourth" style="text-align: center; min-height: 454px;background-color: #f5f6f7;"><div class="col-content" style="margin-top: 13.5px;">
          <a href="?p=iu-100K"><img src="/anasayfaboxes/100.png" style="width:150px;" alt="IU-100K"></a>
             <h5 style="margin-top:10px !important;"><strong>IU-100K</strong></h5>
              <p><em>İstanbul’un yemyeşil ormanlarından Karadeniz’in masmavi sularına uzanan 100 km’lik ULTRA macera! </em>

</p>
<img src="/anasayfaboxes/iu100-boxgrafik.png?v=1" style="margin:20px 0;" />
<br>
<a href="?p=iu-100K" class="sr-button button-1 button-tiny rounded" title="IU-100K hakkında detaylı bilgi almak için burayı tıklayınız.">detaylı bilgi</a>
          </div></div>

          <div class="column one-fourth" style="text-align: center; min-height: 454px;background-color: #edeff0;"><div class="col-content" style="margin-top: 13.5px;">
          <a href="?p=iu-60K"><img src="/anasayfaboxes/60.png" style="width:150px;" alt="IU-60K"></a>
             <h5 style="margin-top:10px !important;"><strong>IU-60K</strong></h5>
              <p><em>Taşdelen Ormanları ve Polonezköy’ün muhteşem doğası eşliğinde sınırlarını zorlamak isteyenlere! 60 km’lik mesafesi ile IU-60K tüm ultra severleri bekliyor!</em>
</p>
<img src="/anasayfaboxes/iu60-boxgrafik.png?v=1" style="margin:20px 0;" />
<br>
<a href="?p=iu-60K" class="sr-button button-1 button-tiny rounded" title="IU-60K hakkında detaylı bilgi almak için burayı tıklayınız.">detaylı bilgi</a>
          </div></div>

          <div class="column one-fourth" style="text-align: center; min-height: 454px;background-color: #f5f6f7;"><div class="col-content" style="margin-top: 13.5px;">
          <a href="?p=iu-30K"><img src="/anasayfaboxes/30.png" style="width:150px;" alt="IU-30K"></a>
             <h5 style="margin-top:10px !important;"><strong>IU-30K</strong></h5>
              <p><em>İstanbul’un kuzey ormanlarında 30km’lik keyifli bir patika koşusuna hazır mısınız?</em>
</p>
<img src="/anasayfaboxes/iu30-boxgrafik.png?v=1" style="margin:20px 0;" />
<br>
<a href="?p=iu-30K" class="sr-button button-1 button-tiny rounded" title="IU-30K hakkında detaylı bilgi almak için burayı tıklayınız.">detaylı bilgi</a>
          </div></div>

          <div class="column one-fourth" style="text-align: center; min-height: 454px;background-color: #edeff0;"><div class="col-content" style="margin-top: 13.5px;">
          <a href="?p=iu-15K"><img src="/anasayfaboxes/15.png" style="width:150px;" alt="IU-15K"></a>
             <h5 style="margin-top:10px !important;"><strong>IU-15K</strong></h5>
              <p><em>15 km’lik mesafesi ile doğanın kalbinde patika koşusu deneyimi yaşamak isteyen, yeni başlayanlardan profesyonel koşuculara kadar herkes için IU-15K!</em>
</p>
<img src="/anasayfaboxes/iu15-boxgrafik.png?v=1" style="margin:20px 0;" />
<br>
<a href="?p=iu-15K" class="sr-button button-1 button-tiny rounded" title="IU-15K hakkında detaylı bilgi almak için burayı tıklayınız.">detaylı bilgi</a>
          </div></div>








            </div>
 	</section>
	<!-- PAGEBODY -->
<div class="spacer-small"></div>

    <!-- FOOTER -->
<%-include('./inc/footer')%>
    <!-- FOOTER -->

</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->

<!-- SCRIPTS -->
<script src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/jquery.visible.min.js"></script>
<script type="text/javascript" src="/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/js/tweenMax.js"></script>
<script type="text/javascript" src="/js/jquery.backgroundparallax.min.js"></script>
<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="/js/jquery.owl.carousel.js"></script>
<script type="text/javascript" src="/js/jquery.lightcase.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>

<!-- SCRIPTS -->

</body>
</html>
